.number-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .number-box {
    border: 1px solid purple;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(6deg, rgb(113, 49, 143) 0%, rgba(52, 0, 87, 1) 56%);
    text-align: center;
    margin: 5px; /* Adjust the margin as needed */
    cursor: pointer;
    width: 50px;
    
    
  }
  
  .number-box.clicked {
    background: purple;
  }
  