.layout,.mainBody{
    width: 100%;
    overflow-x: hidden;
}

.navbar{
    background: linear-gradient(6deg, rgba(102, 0, 149, 1) 0%, rgba(52, 0, 87, 1) 56%);
    border-right: 1px solid #a202ff;
    border-left: 1px solid #a202ff;
    border-bottom: 1px solid #a202ff;
    box-shadow: 1px 2px 3px #b93fff;
    border-radius: 0  0 15px 15px ;
    cursor: pointer;
}
.mainFooter{
    background: linear-gradient(6deg, rgba(102, 0, 149, 1) 0%, rgba(52, 0, 87, 1) 56%);
    border-right: 1px solid #a202ff;
    border-left: 1px solid #a202ff;
    border-bottom: 1px solid #a202ff;
    border-top: 2px solid purple;
    box-shadow: 1px 2px 3px #b93fff;
    border-radius: 25px 25px 0  0 ;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width:765px) {
    .layout,.mainBody{
        width: 375px;
        margin: auto;
    }
    .mainFooter{
        width: 375px;
    }
}
@media screen and (max-width:350px) {
    .mainFooter small{
        font-size: 12px;
    }
}