.cgPwTitle{
    background-color: #383838;
    background-image: url('../img/promotion.svg');
    border: 2px solid #fff;
    cursor: pointer;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.cgPwForm{
    background: #23192E;
    border-radius: 15px;
    width: 60%;
    margin: 20px auto;
}
.cgPwBtn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.cgPwBtn Button{
    width: 50%;
}
@media screen and (max-width:630px){
    .cgPwTitle{
        font-size: 18px;
        width: 90%;
    }
}
@media screen and (max-width:530px) {
    .cgPwForm{
        width: 90%;
    }
}
@media screen and (max-width:330px){
    .cgPwBtn Button{
        width: 90%;
    }
}