.tabs{
    height: 90px;
    border-radius: 10px;
    margin-bottom: 7px;
    background: linear-gradient(-45deg,#000,#333);
    box-shadow: 0 2px 5px #000;
    color: goldenrod;
    text-shadow: 0 0 2px gold;
    display: flex;
    justify-content: start;
    align-items: center;
}
.gameImg{
    height: 100px;
    width: 200px;
}
.hotGameImg{
    height:200px;
}
@media screen and (min-width:980px) and (max-width:1030px) {
    .hotGameImg{
        height:200px;
    }
}

@media screen and (max-width:900px){
    .tabs{
        height: 70px;
    }
}
@media screen and (min-width:576px) {
    .tab-imgs{
        width: 50px;
        display: inline;
    }

    .tabs{
        width: 150px;
    }
}
@media screen and (max-width:576px){
    .tabs{
       height: 60px;
    }
}

@media screen and (max-width:575px) {
    .tab-imgs{
        width: 30px;
        display: inline-block;
    }

    .tabs{
        width: 110px;
    }
}
@media screen and (max-width:500px) {
    .hotGameImg{
        height: 100px;
        
    }
}
@media screen and (max-width:490px) {
    .gameImg{
        height: 80px;
        width: 100%;
    }
}
@media screen and (max-width:390px){
    .tabs{
        height: 50px;
    }

        .gameImg{
            height: 70px;
        } 
}
@media screen and (max-width:350px){
    .tabs{
        width: 100px;
    }
}
@media screen and (max-width:320px) {
    .gameImg{
        height: 60px;
    } 
}
@media screen and (max-width:300px) {
    .nav-link{
        padding:5px 0 5px 5px !important;
    }
}
.nav-pills .nav-link.active{
    background: linear-gradient(-45deg,rgb(232, 185, 97),rgb(240, 202, 132));
    color: #333;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
}

.text-title{
    font-weight: 700;
    padding: 5px 0 5px 0;
    background-color: #111;
    border: 2px solid gold;

}