.transferHeader {
  background-color: #383838;
  background-image: url('../img/promotion.svg');
  max-width: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.transferBox {
  background: #383838;
  border: 1px solid rgba(233, 230, 111, 1);
  max-width: 50%;
  border-radius: 10px;
}

.in.active {
  background: linear-gradient(
    45deg,
    rgba(233, 230, 111, 1) 8%,
    rgba(142, 141, 55, 1) 32%,
    rgba(230, 211, 90, 1) 77%
  );
}

.inContent {
  background: #333;
  color: #fff;
}

.outContent {
  background: #fff;
  color: #000;
  border-radius: 10px;
}
.bankImg {
  width: 10%;
  height: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 45px;
}

@media screen and (max-width: 375px) {
  .transferHeader {
    max-width: 90%;
  }

  .transferBox {
    max-width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .transferHeader {
    max-width: 90%;
  }

  .transferBox {
    max-width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .transferHeader {
    max-width: 90%;
  }

  .transferBox {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .transferHeader {
    max-width: 90%;
  }

  .transferBox {
    max-width: 90%;
  }
}
