.withDrawCircle {
  background: linear-gradient(
    180deg,
    rgba(162, 64, 227, 1) 0%,
    rgba(75, 21, 122, 1) 100%
  );
  width: 13%;
  height: 25%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.withDrawBox {
  background: #333;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.withDrawText {
  background: linear-gradient(
    180deg,
    rgba(162, 64, 227, 1) 0%,
    rgba(75, 21, 122, 1) 100%
  );
  border-top: 1px solid #fff;
}
.bgColor {
  background: linear-gradient(
    180deg,
    rgba(162, 64, 227, 1) 0%,
    rgba(75, 21, 122, 1) 100%
  );
  max-width: max-content;
  text-align: center;
}
.withDrawMain {
  background: #333;
  color: #fff;
  border-radius: 15px;
  margin-left: 15px;
}

.withDrawForm {
  background: #000;
  border: 1px solid rgba(233, 230, 111, 1);
}

.withDrawCard {
  background: ghostwhite;
  border-radius: 15px;
}

.withDrawImg {
  width: 20%;
  height: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 45px;
}

.textBox {
  border: none;
  outline: none;
  border-radius: 0;
  background-color: #000;
  border-bottom: 1px solid rgba(233, 230, 111, 1);
  min-height: 30%;
}

.withDrawBtn {
  background: linear-gradient(
    45deg,
    rgba(233, 230, 111, 1) 8%,
    rgba(142, 141, 55, 1) 32%,
    rgba(230, 211, 90, 1) 77%
  );
  color: #000;
  margin-left: 80px;
}

.alignBox {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .withDrawCircle {
    width: 20%;
  }
}
@media screen and (max-width: 360px) {
  .withDrawCircle {
    width: 40%;
  }
  .alignBox {
    display: block;
    margin-left: 33px;
  }
  .withDrawMain {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px) {
  .withDrawCircle {
    width: 40%;
  }
  .alignBox {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: 414px) {
  .withDrawCircle {
    width: 38%;
  }
  .alignBox {
    display: block;
    margin-left: 33px;
  }
  .withDrawMain {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 430px) {
  .withDrawCircle {
    width: 40%;
  }
  .alignBox {
    display: block;
    margin-left: 33px;
  }
  .withDrawMain {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 380px){
  .alignBox {
    margin-left: 0px;
  }
}
/* @media screen and (max-width: 820px) {
  .withDrawCircle {
    width: 20%;
  }
} */
